@using Microsoft.Extensions.Options;
@using Newtonsoft.Json;
@model FieldServiceApp.Models.OrderMasterViewModel
@inject IOptions<Appsettings> Settings
@{

    ViewData["Title"] = "Edit Order";

    List<string> CheckboxSelectionList = new List<string>();
    CheckboxSelectionList.Add("Yes");
    CheckboxSelectionList.Add("No");

    List<string> ReOccurenceList = new List<string>();
    ReOccurenceList.Add("Days");
    ReOccurenceList.Add("Weeks");
    ReOccurenceList.Add("Months");
    ReOccurenceList.Add("WeekDay");

    List<string> WeekDayList = new List<string>();
    WeekDayList.Add("Sunday");
    WeekDayList.Add("Monday");
    WeekDayList.Add("Tuesday");
    WeekDayList.Add("Wednesday");
    WeekDayList.Add("Thursday");
    WeekDayList.Add("Friday");
    WeekDayList.Add("Saturday");
}
<div role="main" class="page-content container container-plus">
    <div class="card bcard mt-2 mt-lg-3">
        <div class="card-header">
            <h3 class="card-title text-125">
                @ViewData["Title"]
            </h3>
        </div>

        <div class="card-body px-3 pb-1">
            <form class="mt-lg-3" autocomplete="off" novalidate action="@Settings.Value.WebBaseURL/Order/Edit" method="post">
                @Html.HiddenFor(h => h.OrderId)
                @Html.HiddenFor(h => h.ApartmentIds)
                @Html.HiddenFor(h => h.ReOccurenceOrderCount)
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Order No
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.OrderNo,
                            new { @placeholder = "Order No", min = "1", type = "number", @class = "form-control" })
                            <span asp-validation-for="OrderNo" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Follow-up Order
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.ParentOrderId, new SelectList(Model.OrderList.Select(x => new { Value = x.OrderId, Text = x.CustomerName }), "Value", "Text"), "Select Follow-up Order", new { @class = "form-control", @placeholder = "Select Company" })
                        <span asp-validation-for="ParentOrderId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Order Date
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.OrderDate,
                            new { id = "id-date-1", @placeholder = "Order Date", @class = "form-control" })
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="far fa-calendar"></i>
                                </div>
                            </div>
                            <span asp-validation-for="OrderNo" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Customer
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.CustomerList.Select(x => new { Value = x.CustmoerId, Text = x.CompanyName }), "Value", "Text"), "Select Customer", new { @class = "form-control", @placeholder = "Select Company" })
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Ship Address
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.ShipId, new SelectList(Model.CustomerShipingAddressList.Select(x => new { Value = x.ShipId, Text = x.Address }), "Value", "Text"), "Select Ship Address", new { @class = "form-control", @placeholder = "Select Ship Address" })
                        <span asp-validation-for="ShipId" class="text-danger"></span>
                    </div>

                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Ship Date
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group date" id="id-timepicker">
                            @Html.TextBoxFor(m => m.ShipStartDate,
                            new { @placeholder = "Ship Date", @class = "form-control" })

                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="far fa-clock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row" id="ApartmentIdPenal" style="display:none">
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Apartment
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.ApartmentId, new SelectList(Model.ApartmentList.Select(x => new { Value = x.ApartmentId, Text = x.ApartmentNo }), "Value", "Text"),
                       "Select Apartment", new { @class = "form-control chosen-select", @multiple = "", @placeholder = "Select Apartment" })
                        <span asp-validation-for="ApartmentId" class="text-danger"></span>
                    </div>




                </div>

                <div class="form-group row">


                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Re-Occurence
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.ReOccurence, new SelectList(CheckboxSelectionList.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select", new { @class = "form-control", @placeholder = "Select" })
                        <span asp-validation-for="ReOccurence" class="text-danger"></span>
                    </div>

                </div>

                <div id="reOccurencePanel" style="display:none">


                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                ReOccurence From
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.ReOccurenceStartDate,
                                new { id = "ReOccurenceStartDate", @placeholder = "ReOccurence Date From", @class = "form-control" })
                                <div class="input-group-addon input-group-append">
                                    <div class="input-group-text">
                                        <i class="far fa-calendar"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-2 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                ReOccurence To
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.ReOccurenceEndDate,
                                 new { id = "ReOccurenceEndDate", @placeholder = "ReOccurence Date To", @class = "form-control" })
                                <div class="input-group-addon input-group-append">
                                    <div class="input-group-text">
                                        <i class="far fa-calendar"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group row">

                        <div class="col-sm-2 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Re-Occurence In
                            </label>
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.ReOccurenceFrequency,
                               new
                                    {
                                        @placeholder = "Re-Occurence In",
                                        @class = "form-control",
                                   type = "number",
                                        min = "1"
                                    })
                            <span asp-validation-for="ReOccurenceFrequency" class="text-danger"></span>
                        </div>

                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.ReOccurenceCycle, new SelectList(ReOccurenceList.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select", new { @class = "form-control", @placeholder = "Select" })
                            <span asp-validation-for="ReOccurenceCycle" class="text-danger"></span>
                        </div>

                        <div class="col-sm-2" id="weekdayPanel" style="display:none">
                            @Html.DropDownListFor(model => model.ReOccurenceWeekday, new SelectList(WeekDayList.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select", new { @class = "form-control", @placeholder = "Select" })
                            <span asp-validation-for="ReOccurenceWeekday" class="text-danger"></span>
                        </div>


                    </div>



                </div>


                <h3 class="card-title text-125">
                    Item detail
                </h3>
                <hr />

                <div class="form-group row">

                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Item
                        </label>
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ItemList.Select(x => new { Value = x.ItemId, Text = x.ItemCd }), "Value", "Text"), "Select Item", new { @class = "form-control", @placeholder = "Select Item" })
                        <span asp-validation-for="ItemId" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Price
                        </label>
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.PerUnitPrice,
                           new { @placeholder = "Price", @class = "form-control", @readonly = "@readonly" })
                        <span asp-validation-for="PerUnitPrice" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Quantity
                        </label>
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.Quantity,
                         new { @placeholder = "Quantity", @class = "form-control" })
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Total Price
                        </label>
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.TotalPrice,
                       new { @placeholder = "Total Price", @class = "form-control", @readonly = "@readonly" })
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                        @*<a href="#" class="btn btn-link text-primary-d1">Add More</a>*@
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Description
                        </label>
                    </div>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Description,
                         new { @placeholder = "Description", @class = "form-control", @readonly = "@readonly" })
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Assigned To
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.AssigneeId,
                       new SelectList(Model.EmployeeList.Select(x => new { Value = x.EmployeeId, Text = x.FirstName + " " + x.LastName }), "Value", "Text"),
                       "Select Employee", new { @class = "form-control", @placeholder = "Select Employee" })
                        <span asp-validation-for="AssigneeId" class="text-danger"></span>
                    </div>



                </div>

                <div class="form-group row">
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Total Amount
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.TotalAmount,
                       new { @placeholder = "Total Amount", @class = "form-control", @readonly = "@readonly" })
                        <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    </div>
                </div>



                <div class="mt-5 border-t-1 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-3 col-md-9 text-nowrap">
                        <button class="btn btn-info btn-bold px-4" type="submit" style="display:none" id="mainSubmit">
                            <i class="fa fa-check mr-1"></i>
                            Submit
                        </button>
                        <button class="btn btn-info btn-bold px-4" onclick="return checkNonWorkingDay();" type="button">
                            <i class="fa fa-check mr-1"></i>
                            Submit
                        </button>

                        <a href="~/Order/List" class="btn btn-outline-lightgrey btn-bold ml-2 px-4" type="reset">
                            <i class="fa fa-undo mr-1"></i>
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/tiny-date-picker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/date-range-picker.css" />
        <link href="~/lib/chosen-js/chosen.css" rel="stylesheet" />
    </environment>
    <style>
        hr {
            /*margin-bottom: 2rem !important;*/
        }
    </style>
}

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development,Staging,Production">
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/date-range-picker.js"></script>
        <script src="~/pages/form-basic/@@page-script.js"></script>
        <script src="~/lib/chosen-js/chosen.jquery.js"></script>
    </environment>
    <script type="text/javascript">
        // Restricts input for each element in the set of matched elements to the given inputFilter.
        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            };
        }(jQuery));
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

              var TinyDatePicker3 = DateRangePicker.TinyDatePicker;
                           TinyDatePicker3('#ReOccurenceStartDate', {
                            mode: 'dp-below',
                            date : new Date()
                        })
                           .on('statechange', function (ev) {

                            });

             var TinyDatePicker4 = DateRangePicker.TinyDatePicker;
                          TinyDatePicker4('#ReOccurenceEndDate', {
                             mode: 'dp-below',
                             date : new Date()
                         })
                          .on('statechange', function (ev) {

                             });

            if ( $("#ReOccurenceStartDate").val()) {
                 $("#ReOccurenceStartDate").val(new moment('@Model.ReOccurenceStartDate').format("MM/DD/YYYY"));
            }
             if ( $("#ReOccurenceEndDate").val()) {
                 $("#ReOccurenceEndDate").val(new moment('@Model.ReOccurenceEndDate').format("MM/DD/YYYY"));
            }





            $(".chosen-select").chosen({ allow_single_deselect: true,width:'100%' })

             $("#OrderNo").inputFilter(function(value) {
                 return /^-?\d*[.,]?\d*$/.test(value);
             });

             var checkHrGroupVal = $("#ApartmentIds").val();
            if (checkHrGroupVal) {
                var arr = checkHrGroupVal.split(",");
                for (var i = 0; i < arr.length; i++) {
                    arr[i] = arr[i].trim();
                }
                $("#ApartmentId").val(arr).trigger("chosen:updated");
                $("#ApartmentIdPenal").show();
                    //.trigger("chosen:updated");
            }


            var shipId = '@Model.ShipId';
            setTimeout(function () {
                  $("#id-date-1").val(new moment().format("MM/DD/YYYY"));
            }, 0);

            // ship date
            // order date

             $("#ShipId").html('');
             var data = {
                'CustomerId':  $("#CustomerId").val(),
            };
            console.log(data);
            $.ajax({
                url: "/Order/GetCustomerShippingAddress",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                if (response.length > 0) {
                $('#ShipId').html('');
                var options = '';
                options += '<option value="">Select Ship Address</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i]['ShipId'] + '">' + response[i]['Address'] + '</option>';
                }
                    $('#ShipId').append(options);
                    $('#ShipId').val(shipId);
            }
                }
            })




          window.itemList = '@Json.Serialize(Model.ItemList)';
          window.itemList = JSON.parse(itemList);
        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
           setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/Order/List"; }, 750);

        }
        if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
        }

            $("#ItemId").on("change", function () {
                if ($("#ItemId").val()) {
                    var price = getItemPrice($("#ItemId").val());
                      var description = getItemDescription($("#ItemId").val());
                    $("#PerUnitPrice").val(price);
                    $("#Description").val(description);
                  if ($("#Quantity").val()) {
                  var quantity = Number($("#Quantity").val());
                  var perUnitPrice = Number($("#PerUnitPrice").val());
                  $("#TotalPrice").val(quantity * perUnitPrice);
                  $("#TotalAmount").val(quantity * perUnitPrice);
              }
              else {
                  $("#TotalPrice").val('');
                  $("#TotalAmount").val('');
              }
              }
              else {
                      $("#PerUnitPrice").val('');
                    $("#Description").val('');

              }


          });

            $("#Quantity").on("change", function () {
              if ($("#Quantity").val()) {
                  var quantity = Number($("#Quantity").val());
                  var perUnitPrice = Number($("#PerUnitPrice").val());
                  $("#TotalPrice").val(quantity * perUnitPrice);
                  $("#TotalAmount").val(quantity * perUnitPrice);
              }
              else {
                  $("#TotalPrice").val('');
                  $("#TotalAmount").val('');
              }


            });

            $("#ReOccurence").trigger("change");

            $("#ReOccurenceCycle").trigger("change");


      });

        function getItemPrice(itemId) {
            var price = 0;
            for (var i = 0; i <  window.itemList.length; i++) {
                if (window.itemList[i]["ItemId"].toString()== itemId) {
                    price = window.itemList[i]["ItemPrice"];
                    i = window.itemList.length;
                    break;
                }
            }
            return price;
        }

           function getItemDescription(itemId) {
            var description = 0;
            for (var i = 0; i <  window.itemList.length; i++) {
                if (window.itemList[i]["ItemId"].toString()== itemId) {
                    description = window.itemList[i]["ItemDescription"];
                    i = window.itemList.length;
                    break;
                }
            }
            return description;
        }

        $("#CustomerId").on("change", function () {
             $('#ApartmentId').empty(); //remove all child nodes
            $('#ApartmentId').trigger("chosen:updated");
            $("#ApartmentIdPenal").hide();

            $("#ShipId").html('');
             var data = {
                'CustomerId':  $("#CustomerId").val(),
            };
            console.log(data);
            $.ajax({
                url: "/Order/GetCustomerShippingAddress",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                    debugger;
                   if (response.length > 0) {
                $('#ShipId').html('');
                var options = '';
                options += '<option value="">Select Ship Address</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i]['ShipId'] + '">' + response[i]['Address'] + '</option>';
                }
                $('#ShipId').append(options);
            }
                }
            })
        });

        $("#ShipId").on("change", function () {
            $("#ApartmentId").html('');
             var data = {
                'ShipId':  $("#ShipId").val(),
            };

            if ($("#ShipId").val()) {
                $("#ApartmentIdPenal").show();
            } else {
                $("#ApartmentIdPenal").hide();
            }

            console.log(data);
            $.ajax({
                url: "/Order/GetCustomerShippingApartment",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                    debugger;
                 {
                $('#ApartmentId').html('');
                var options = '';
                //options += '<option value="">Select Apartment Address</option>';
                for (var i = 0; i < response.length; i++) {
                    options += '<option value="' + response[i]['ApartmentId'] + '">' + response[i]['ApartmentNo'] + '</option>';
                }

                         $('#ApartmentId').empty(); //remove all child nodes
                         $('#ApartmentId').append(options);
                        $('#ApartmentId').trigger("chosen:updated");

                       //$('#ApartmentId').val('').trigger('chosen:updated');
            }
                }
            })
        });

        $("#ParentOrderId").on("change", function () {
             var data = {
                'OrderId':  $("#ParentOrderId").val(),
            };
             console.log(data);

            $.ajax({
                url: "/Order/GetFollowUpOrderDetail",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                        if (response) {
                            debugger;
                            $("#ItemId").val(response.ItemId);
                            $("#PerUnitPrice").val(response.PerUnitPrice);
                            $("#Quantity").val(response.Quantity);
                            $("#TotalPrice").val(response.TotalPrice);
                            $("#Description").val(response.Description);
                            $("#AssigneeId").val(response.AssigneeId);
                            $("#TotalAmount").val(response.TotalAmount);
                            $("#CustomerId").val(response.CustomerId);
                             $('#ShipId').html('');
                var options = '';
                options += '<option value="">Select Ship Address</option>';
                for (var i = 0; i < response.CustomerShipingAddressList.length; i++) {
                    options += '<option value="' + response.CustomerShipingAddressList[i]['ShipId'] + '">' + response.CustomerShipingAddressList[i]['Address'] + '</option>';
                }
                            $('#ShipId').append(options);
                            $("#ShipId").val(response.ShipId);
                             if ($("#ShipId").val()) {
                $("#ApartmentIdPenal").show();
            } else {
                $("#ApartmentIdPenal").hide();
                            }

                             if ($("#CustomerId").val()) {
                $(".btnAddShipping").show();
            } else {
                $(".btnAddShipping").hide();
            }

                  $('#ApartmentId').html('');
                var options = '';
                //options += '<option value="">Select Apartment Address</option>';
                for (var i = 0; i < response.ApartmentList.length; i++) {
                    options += '<option value="' + response.ApartmentList[i]['ApartmentId'] + '">' + response.ApartmentList[i]['ApartmentNo'] + '</option>';
                }


                         $('#ApartmentId').empty(); //remove all child nodes
                         $('#ApartmentId').append(options);
                         $('#ApartmentId').trigger("chosen:updated");


                }

                }
            })
        });

        $("#ReOccurence").on("change", function () {

            if ($("#ReOccurence").val()=="Yes") {
                $("#reOccurencePanel").show();
            }
            else {
                $("#reOccurencePanel").hide();
            }

        });

        $("#ReOccurenceCycle").on("change", function () {

            if ($("#ReOccurenceCycle").val()=="WeekDay") {
                $("#weekdayPanel").show();
            }
            else {
                 $("#weekdayPanel").hide();
            }

        });

        function checkNonWorkingDay() {
            
            if ($("#ReOccurence").val() == "Yes") {
               var reoccurrenceFromDate = $("#ReOccurenceStartDate").val();
               var reoccurrenceDateTo = $("#ReOccurenceEndDate").val();
               var reOccurrenceFrequency = $("#ReOccurenceFrequency").val();
                var reOccurenceCycle = $("#ReOccurenceCycle").val();
                var reOccurenceWeekday = $("#ReOccurenceWeekday").val();


               if (((reoccurrenceFromDate) && (!reoccurrenceDateTo)) || ((!reoccurrenceFromDate) && (reoccurrenceDateTo))) {
                   swal("Please select both reoccurrence dates", "", "error");
                   return false;
                }

               if ((reoccurrenceFromDate) && (reoccurrenceDateTo)) {
                     if (reoccurrenceFromDate > reoccurrenceDateTo) {
                        swal("Reoccurrence From date should be less or equal to Reoccurrence To date", "", "error");
                        return false;
                    }
                }

                if (!reOccurrenceFrequency) {
                      swal("Please enter in  Re-Occurence In field", "", "error");
                        return false;
                }

                 if (!reOccurenceCycle) {
                         swal("Please select Re-Occurence field", "", "error");
                        return false;
                }
              
                if (reOccurenceCycle=="WeekDay") {
                     if (!reOccurenceWeekday) {
                         swal("Please select weekday", "", "error");
                        return false;
                }
                }
            }

            if (!$("#ShipStartDate").val()) {
                if ($("#ReOccurenceOrderCount").val().toString() == "0") {
                     
                    return;
                }
                else {
                       swal({
                            title: "Change detail for all following or only the selected order",
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonText: "No",
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Yes",
                            closeOnConfirm: false
                            },
                        function (isConfirm) {
                            if (!isConfirm) {
                                $("#ReOccurenceOrderCount").val('-1');
                                  $("#mainSubmit").trigger('click');
                                return;
                            }
                            else {
                                 
                                $("#ReOccurenceOrderCount").val('1');
                                  $("#mainSubmit").trigger('click');
                                
                                return;
                            }




                });
                }
                return;
            }

            if ($("#ShipStartDate").val()) {

                if ($("#ReOccurenceOrderCount").val().toString() == "0") {
                      var data = {
                'date': $("#ShipStartDate").val(),

            };
                    $.ajax({
                url: "/Order/CheckNonworkingDay",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                    console.log(response);
                    if (response.Status=="1") {
                        $("#mainSubmit").trigger('click');
                    }
                    else {
                          swal({
                title: "Ship Date is a non working day. Do you want to continue?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (!isConfirm)
                        return;

                 $("#mainSubmit").trigger('click');

                });
                    }
                }
            })
                    return;
                }
                else {
                       swal({
                            title: "Change ship date for all following or only the selected order",
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonText: "No",
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Yes",
                            closeOnConfirm: false
                            },
                        function (isConfirm) {
                            if (!isConfirm) {
                                  var data = {
                'date': $("#ShipStartDate").val(),

            };
                                $("#ReOccurenceOrderCount").val('-1');
                               $.ajax({
                url: "/Order/CheckNonworkingDay",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                    console.log(response);
                    if (response.Status=="1") {
                        $("#mainSubmit").trigger('click');
                    }
                    else {
                          swal({
                title: "Ship Date is a non working day. Do you want to continue?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (!isConfirm)
                        return;

                 $("#mainSubmit").trigger('click');

                });
                    }
                }
            })
                                return;
                            }
                            else {
                                  var data = {
                'date': $("#ShipStartDate").val(),

            };
                                $("#ReOccurenceOrderCount").val('1');
                                 $.ajax({
                url: "/Order/CheckNonworkingDay",
                type: "POST",
                dataType: "json",
                data: data,
                success: function (response) {
                    console.log(response);
                    if (response.Status=="1") {
                        $("#mainSubmit").trigger('click');
                    }
                    else {
                          swal({
                title: "Ship Date is a non working day. Do you want to continue?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (!isConfirm)
                        return;

                 $("#mainSubmit").trigger('click');

                });
                    }
                }
            })
                                return;
                            }




                });
                }


            }

        }

    </script>
}