@model LaCafelogy.Models.OrderDetailViewModel
<div>

    @*<div class="form-group row" style="margin-bottom:0px">
            <div class="col-sm-2 col-form-label text-sm-left pr-0">
                <label for="id-form-field-1" class="mb-0">
                    @(Convert.ToInt16(ViewBag.index) + 1). Item
                </label>
            </div>
            <div class="col-sm-3 col-form-label text-sm-left pr-0">
                <label for="id-form-field-1" class="mb-0">
                    Description
                </label>
            </div>
            <div class="col-sm-2 col-form-label text-sm-left pr-0">
                <label for="id-form-field-1" class="mb-0">
                    Price
                </label>
            </div>
            <div class="col-sm-2 col-form-label text-sm-left pr-0">
                <label for="id-form-field-1" class="mb-0">
                    Quantity
                </label>
            </div>
            <div class="col-sm-2 col-form-label text-sm-left pr-0">
                <label for="id-form-field-1" class="mb-0">
                    Total Price
                </label>
            </div>



        </div>*@
    <div class="form-group row">


        <div class="col-sm-2">
           
            @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ItemList.Select(x => new { Value = x.ItemId, Text = x.ItemCd }), "Value", "Text"), "Select Item",
new
{
@class = "form-control ItemId chosen-select",
@placeholder = "Select Item",
id = "OrderItemList_" + ViewBag.index + "__ItemId",
@name1 = "OrderItemList[" + ViewBag.index + "].ItemId"
})
            <span asp-validation-for="ItemId" class="text-danger"></span>
        </div>

        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Description,
             new
                  {
                      @placeholder = "Description",
                      @class = "form-control Description",
                       id = "OrderItemList_" + ViewBag.index + "__Description",
                      @readonly = "@readonly",
              @name1 = "OrderItemList[" + ViewBag.index + "].Description"
                  })
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.PerUnitPrice,
               new
                    {
                        @placeholder = "Price",
                        @class = "form-control PerUnitPrice",
                         id = "OrderItemList_" + ViewBag.index + "__PerUnitPrice",
                @name1 = "OrderItemList[" + ViewBag.index + "].PerUnitPrice"
                    })
            <span asp-validation-for="PerUnitPrice" class="text-danger"></span>
        </div>


        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Quantity,
             new
                  {
                      @placeholder = "Quantity",
                      @class = "form-control Quantity",
                      id = "OrderItemList_" + ViewBag.index + "__Quantity",
             @name1 = "OrderItemList[" + ViewBag.index + "].Quantity"
                  })
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.TotalPrice,
           new
                {
                    @placeholder = "Total Price",
                    @class = "form-control TotalPrice",
                    @readonly = "@readonly",
                    id = "OrderItemList_" + ViewBag.index + "__TotalPrice",
            @name1 = "OrderItemList[" + ViewBag.index + "].TotalPrice"
                })
            <span asp-validation-for="TotalPrice" class="text-danger"></span>
            @*<a href="#" class="btn btn-link text-primary-d1">Add More</a>*@
        </div>


        <div class="col-lg-1">
            <button onclick="addItems('@ViewBag.index')" type="button" style="width:30px"
                    class="btnAdd btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-2 mb-1">

                <i class="fa fa-plus text-110 text-orange-d2 mr-1"></i>
            </button>
            <button onclick="deleteItem('@ViewBag.index')" type="button" style="width:30px"
                    class="btnDelete btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-2 mb-1">
                <i class="fa fa-trash text-110 text-orange-d2 mr-1"></i>
            </button>
        </div>

    </div>

    
</div>
