@using Microsoft.Extensions.Options;
@using Newtonsoft.Json;
@model FieldServiceApp.Models.CalenderWorkingDayViewModel
@inject IOptions<Appsettings> Settings
@{

    ViewData["Title"] = "Add Non Working Day";
    List<string> CheckboxSelectionList = new List<string>();
    CheckboxSelectionList.Add("Week Of");
    CheckboxSelectionList.Add("Holiday");

    List<string> WeekDayList = new List<string>();
    WeekDayList.Add("Sunday");
    WeekDayList.Add("Monday");
    WeekDayList.Add("Tuesday");
    WeekDayList.Add("Wednesday");
    WeekDayList.Add("Thursday");
    WeekDayList.Add("Friday");
    WeekDayList.Add("Saturday");
}

<div role="main" class="page-content container container-plus">
    <div class="card bcard mt-2 mt-lg-3">
        <div class="card-header">
            <h3 class="card-title text-125">
                @ViewData["Title"]
            </h3>
        </div>

        <div class="card-body px-3 pb-1">
            <form class="mt-lg-3" autocomplete="off" novalidate
                  action="@Settings.Value.WebBaseURL/CalenderHour/AddWorkingDay" method="post">
                <div class="form-group row">

                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Type
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.Type, new SelectList(CheckboxSelectionList.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select", new { @class = "form-control", @placeholder = "Select" })
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2 col-form-label text-sm-right pr-0 weekday" style="display:none">
                        <label for="id-form-field-1" class="mb-0">
                            Weekday
                        </label>
                    </div>
                    <div class="col-sm-2 weekday" style="display:none">
                        @Html.DropDownListFor(model => model.DayName, new SelectList(WeekDayList.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select", new { @class = "form-control", @placeholder = "Select" })
                        <span asp-validation-for="DayName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-2 col-form-label text-sm-right pr-0 holiday" style="display:none">
                        <label for="id-form-field-1" class="mb-0">
                            Holiday Date
                        </label>
                    </div>

                    <div class="col-sm-3 holiday" style="display:none">
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.HolidayDate,
                            new { id = "id-date-1", @placeholder = "Holiday Date", @class = "form-control" })
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="far fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <p class="text-danger">
                    @ViewBag.ErrorMessage
                </p>

                <div class="mt-5 border-t-1 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-2 col-md-9 text-nowrap">
                        <button class="btn btn-info btn-bold px-4" onclick="return checkValidation();" type="submit">
                            <i class="fa fa-check mr-1"></i>
                            Submit
                        </button>

                        <a href="~/CalenderHour/NonWorkingDayList" class="btn btn-outline-lightgrey btn-bold ml-2 px-4" type="reset">
                            <i class="fa fa-undo mr-1"></i>
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/tiny-date-picker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/date-range-picker.css" />
}

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development,Staging,Production">
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/date-range-picker.js"></script>
        <script src="~/pages/form-basic/@@page-script.js"></script>
    </environment>
    <script type="text/javascript">

        $(document).ready(function () {


        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
           setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/CalenderHour/NonWorkingDayList"; }, 500);

        }
        if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
            }


        })

         $("#Type").on("change", function () {
             $(".weekday").hide();
             $(".holiday").hide();

            if ($("#Type").val()=="Week Of") {
                $(".weekday").show();
            }
            else if ($("#Type").val()=="Holiday") {
                $(".holiday").show();
            }

         });

        function checkValidation() {

            if (!$("#Type").val()) {
                swal("Please select type", "", "error");
                return false;
            }
            else
            {
                if ($("#Type").val() != 'Week Of')
                {
                    if (!$("#id-date-1").val())
                    {
                         swal("Please select holiday date", "", "error");
                         return false;
                     }
                }
                else
                {
                    if (!$("#DayName").val())
                    {
                         swal("Please select weekday", "", "error");
                           return false;
                    }
                }
            }

            return true;

        }

    </script>
}