@using Microsoft.Extensions.Options;
@using Newtonsoft.Json;
@model FieldServiceApp.Models.CityViewModel
@inject IOptions<Appsettings> Settings
@{
    ViewData["Title"] = "Add City";
}
<div role="main" class="page-content container container-plus">
    <div class="card bcard mt-2 mt-lg-3">
        <div class="card-header">
            <h3 class="card-title text-125">
               @ViewData["Title"]
            </h3>
        </div>

        <div class="card-body px-3 pb-1">
            <form class="mt-lg-3" autocomplete="off" novalidate
                  action="@Settings.Value.WebBaseURL/Master/AddCity" method="post">
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            City Name
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.CityName,
                           new { @placeholder = "City Name", @class = "form-control", maxlength = "100" })
                        <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-2 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            State
                        </label>
                    </div>

                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.StateId, new SelectList(Model.StateList.Select(x => new { Value = x.StateId, Text = x.StateName }), "Value", "Text"), "Select unit", new { @class = "form-control", @placeholder = "Select unit" })
                        <span asp-validation-for="StateId" class="text-danger"></span>
                    </div>
                </div>
              <p class="text-danger">
                    @ViewBag.ErrorMessage
                </p>

                <div class="mt-5 border-t-1 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-2 col-md-9 text-nowrap">
                        <button class="btn btn-info btn-bold px-4" type="submit">
                            <i class="fa fa-check mr-1"></i>
                            Submit
                        </button>

                        <a href="~/Master/CityList" class="btn btn-outline-lightgrey btn-bold ml-2 px-4" type="reset">
                            <i class="fa fa-undo mr-1"></i>
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




@section Styles {
}

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development,Staging,Production">
        <script src="~/pages/form-basic/@@page-script.js"></script>
    </environment>
    <script type="text/javascript">

        $(document).ready(function () {


        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
           setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/Master/AddCity"; }, 500);

        }
        if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
            }
            

        })

    </script>
}