@model FieldServiceApp.Models.CustmoerContactViewModel
<div class="form-group row">



    <div class="col-sm-2 col-form-label text-sm-right pr-0">
        <label for="id-form-field-1" class="mb-0">
            First Name
        </label>
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.FirstName,
        new { @placeholder = "First Name", @class = "form-control", id="Contacts_"+ViewBag.index+"__FirstName",@name1="Contacts["+ViewBag.index+"].FirstName" })
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="col-sm-2 col-form-label text-sm-right pr-0">
        <label for="id-form-field-1" class="mb-0">
            Middle Name
        </label>
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.MiddleName,
           new { @placeholder = "Middle Name", @class = "form-control", id="Contacts_"+ViewBag.index+"__MiddleName",@name1="Contacts["+ViewBag.index+"].MiddleName" })
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-2 col-form-label text-sm-right pr-0">
        <label for="id-form-field-1" class="mb-0">
            Last Name
        </label>
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.LastName,
          new { @placeholder = "Last Name", @class = "form-control", id="Contacts_"+ViewBag.index+"__LastName",@name1="Contacts["+ViewBag.index+"].LastName" })
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="col-sm-2 col-form-label text-sm-right pr-0">
        <label for="id-form-field-1" class="mb-0">
            Email
        </label>
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.Email,
          new { @placeholder = "Email", @class = "form-control", id="Contacts_"+ViewBag.index+"__Email" ,@name="Contacts["+ViewBag.index+"].Email" })
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-2 col-form-label text-sm-right pr-0">
        <label for="id-form-field-1" class="mb-0">
            Phone
        </label>
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(m => m.Phone,
          new { @placeholder = "Phone", @class = "form-control" , id="Contacts_"+ViewBag.index+"__Phone" ,@name="Contacts["+ViewBag.index+"].Phone"})
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="col-lg-2">
        <button   onclick="addContacts()" type="button"
                class="btnAddContact btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-3 mb-1">
            Add
            <i class="fa fa-plus text-110 text-orange-d2 mr-1"></i>
        </button>
    </div>
</div>
<hr />