@using Microsoft.Extensions.Options;
@using Newtonsoft.Json;
@model FieldServiceApp.Models.CustomerMasterViewModel
@inject IOptions<Appsettings> Settings
@{

    ViewData["Title"] = "Edit Customer";
    List<string> CompanyTypeList = new List<string>();
    CompanyTypeList.Add("Business");
    CompanyTypeList.Add("Residential");

}
<div role="main" class="page-content container container-plus">
    <form class="mt-lg-3" autocomplete="off" action="@Settings.Value.WebBaseURL/Customer/Edit" method="post">
        <div class="card bcard mt-2 mt-lg-3">
            <div class="card-header">
                <div class="card-title ">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="text-125">
                                New Customer
                            </h3>
                        </div>
                        <div class="col-md-9 text-nowrap text-right">
                            <button class="btn btn-info btn-bold px-4" type="submit">
                                <i class="fa fa-check mr-1"></i>
                                Submit
                            </button>

                            <a href="~/Customer/List" class="btn btn-outline-lightgrey btn-bold ml-2 px-4" type="reset">
                                <i class="fa fa-undo mr-1"></i>
                                Cancel
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-body px-3 pb-1">

                @Html.HiddenFor(h => h.CustmoerId)

                <div class="form-group row">

                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Code
                        </label>
                    </div>

                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.Code,
                        new { @placeholder = "Code", @class = "form-control", maxlength = "44" })
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Company
                        </label>
                    </div>

                    <div class="col-sm-2">
                        @Html.TextBoxFor(m => m.CompanyName,
                        new { @placeholder = "Company Name", @class = "form-control", maxlength = "250" })
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Type
                        </label>
                    </div>

                    <div class="col-sm-2">
                        @Html.DropDownListFor(model => model.CompanyType, new SelectList(CompanyTypeList.Select(x => new { Value = x, Text = x }), "Value", "Text"), "Select", new { @class = "form-control", @placeholder = "Select company type" })
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                        <label for="id-form-field-1" class="mb-0">
                            Notes
                        </label>
                    </div>

                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Notes,
                        new { @placeholder = "Notes", @class = "form-control", @maxlength = 500 })
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>

                </div>
                <hr />
                <div id="">
                    <div class="card bcard" draggable="false">
                        <div class="card-header">
                            <h class="card-title text-110 text-primary-d2 pt-1">
                                Billing detail
                            </h>

                            <div class="card-toolbar no-border">

                                <a href="#" data-action="toggle" class="card-toolbar-btn btn btn-sm radius-1 btn-outline-default btn-h-outline-default px-15 mx-0 btn-tp" draggable="false">
                                    <i class="fa fa-chevron-down w-2 mx-1px"></i>
                                </a>

                            </div>
                        </div><!-- /.card-header -->

                        <div class="card-body bg-white p-2  @(Model.CustomerBillingId==0 ? "collapse hide":"")" style="">

                            @for (int ii = 0; ii < Model.Billings.Count(); ii++)
                            {
                                @Html.HiddenFor(h => h.Billings[ii].CustomerBillingId)

                                <div class="form-group row">
                                    <div class="col-1">
                                        <span class="text-primary text-400">Billings @(ii + 1) </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            First Name
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Billings[ii].FirstName,
                                          new { @placeholder = "First Name", @class = "form-control" })
                                        <span asp-validation-for="Billings[ii].FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            Last Name
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Billings[ii].LastName,
                                          new { @placeholder = "Email", @class = "form-control", maxlength = "150" })
                                        <span asp-validation-for="Billings[ii].LastName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            Address
                                        </label>
                                    </div>

                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Billings[ii].Address1,
                                        new { @placeholder = "Address", @class = "form-control" })
                                        <span asp-validation-for="Billings[ii].Address1" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            Address2
                                        </label>
                                    </div>

                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Billings[ii].Address2,
                                        new { @placeholder = "Address2", @class = "form-control" })
                                        <span asp-validation-for="Billings[ii].Address2" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            Address3
                                        </label>
                                    </div>

                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Billings[ii].Address3,
                                        new { @placeholder = "Address3", @class = "form-control" })
                                        <span asp-validation-for="Billings[ii].Address1" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            State
                                        </label>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.DropDownListFor(model => model.Billings[ii].StateId, new SelectList(Model.StateList.Select(x => new { Value = x.StateId, Text = x.StateName }), "Value", "Text"), "Select state", new { @class = "form-control", @placeholder = "Select State" })
                                        <span asp-validation-for="Billings[ii].StateId" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            City
                                        </label>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.DropDownListFor(model => model.Billings[ii].CityId, new SelectList(Model.CityList.Select(x => new { Value = x.CityId, Text = x.CityName }), "Value", "Text"), "Select city", new { @class = "form-control", @placeholder = "Select city" })
                                        <span asp-validation-for="Billings[ii].CityId" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            Zip
                                        </label>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Billings[ii].Zip1,
                                          new { @placeholder = "Zip 1", @class = "zip form-control" })
                                        <span asp-validation-for="Billings[ii].Zip1" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.Billings[ii].Zip2,
                                          new { @placeholder = "Zip 2", @class = "zip form-control" })
                                        <span asp-validation-for="Billings[ii].Zip2" class="text-danger"></span>
                                    </div>



                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                        <label for="id-form-field-1" class="mb-0">
                                            Notes
                                        </label>
                                    </div>

                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Billings[ii].Notes,
                                        new { @placeholder = "Notes", @class = "form-control", @maxlength = 500 })
                                        <span asp-validation-for="Billings[ii].Notes" class="text-danger"></span>
                                    </div>

                                </div>





                                <hr class="border-dashed" />
                                <div id="@(ii)shippingPanel">
                                    <div class="card bcard" draggable="false">
                                        <div class="card-header">
                                            <h5 class="card-title text-100 text-primary-d2 pt-1">
                                                Shipping
                                            </h5>

                                            <div class="card-toolbar no-border">
                                                <a href="#" data-action="toggle" class="card-toolbar-btn btn btn-sm radius-1 btn-outline-default btn-h-outline-default px-15 mx-0 btn-tp" draggable="false">
                                                    <i class="fa fa-chevron-down w-2 mx-1px"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body bg-white p-2  @(Model.ShipId==0 ?"hide collapse":"")">
                                            @for (int i = 0; i < Model.Billings[ii].Shippings.Count(); i++)
                                            {
                                                @Html.HiddenFor(h => h.Billings[ii].Shippings[i].ShipId)

                                                <div class="form-group row">
                                                    <div class="col-2">
                                                        <span class="text-primary text-400"> @(i + 1)- Shipping </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Address
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Address,
                                                        new { @placeholder = "Address", @class = "form-control" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Address" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Address2
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Address2,
                                                        new { @placeholder = "Address2", @class = "form-control" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Address2" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Address3
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Address3,
                                                        new { @placeholder = "Address3", @class = "form-control" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Address3" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            State
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        @Html.DropDownListFor(model => model.Billings[ii].Shippings[i].StateId, new SelectList(Model.StateList.Select(x => new { Value = x.StateId, Text = x.StateName }), "Value", "Text"), "Select state", new { @class = "form-control", @placeholder = "Select State" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].StateId" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            City
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        @Html.DropDownListFor(model => model.Billings[ii].Shippings[i].CityId, new SelectList(Model.CityList.Select(x => new { Value = x.CityId, Text = x.CityName }), "Value", "Text"), "Select city", new { @class = "form-control", @placeholder = "Select city" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].CityId" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Zip
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Zip1,
                                                          new { @placeholder = "Zip 1", @class = "zip form-control" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Zip1" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Zip2,
                                                          new { @placeholder = "Zip 2", @class = "zip form-control" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Zip2" class="text-danger"></span>
                                                    </div>



                                                </div>




                                                <div class="form-group row">
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Phone
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Phone,
                                                          new { @placeholder = "Phone", @class = "form-control" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Phone" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Email
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Email,
                                                          new { @placeholder = "Email", @class = "form-control", maxlength = "150" })
                                                        <span asp-validation-for="Billings[ii].Shippings[i].Email" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                        <label for="id-form-field-1" class="mb-0">
                                                            Notes
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].Notes,
                                                        new { @placeholder = "Notes", @class = "form-control", maxlength = 500 })

                                                    </div>

                                                </div>
                                                <hr class="border-dashed" />
                                                @for (int j = 0; j < Model.Billings[ii].Shippings[i].ApartmentList.Count(); j++)
                                                {
                                                    @Html.HiddenFor(h => h.Billings[ii].Shippings[i].ApartmentList[j].ApartmentId)

                                                    <div id="billing_@(ii)_apartmentPanel_@i">
                                                        <div class="form-group row">

                                                            <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                                <label for="id-form-field-1" class="mb-0">
                                                                    @(j + 1)-  Apartment No
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].ApartmentList[j].ApartmentNo,
                                                                new { @placeholder = "Apartment No", @class = "form-control", maxlength = "150" })
                                                                <span asp-validation-for="Billings[ii].Shippings[i].ApartmentList[j].ApartmentNo" class="text-danger"></span>
                                                            </div>

                                                            <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                                                <label for="id-form-field-1" class="mb-0">
                                                                    Apartment Name
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].ApartmentList[j].ApartmentName,
                                                                   new { @placeholder = "Apartment Name", @class = "form-control", maxlength = "150" })
                                                                <span asp-validation-for="Billings[ii].Shippings[i].ApartmentList[j].ApartmentName"
                                                                      class="text-danger"></span>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                @Html.TextBoxFor(m => m.Billings[ii].Shippings[i].ApartmentList[j].Notes,
                                                                new { @placeholder = "Notes", @class = "form-control", maxlength = 500 })

                                                            </div>


                                                            <div class="col-lg-2">
                                                                <button onclick="addShippingApartment('@i','@ii')" type="button"
                                                                        style="display:@(j == Model.Billings[ii].Shippings[i].ApartmentList.Count() - 1? "''" :"none")"
                                                                        class="btnAddApartment btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-3 mb-1">
                                                                    Add More
                                                                    <i class="fa fa-plus text-110 text-orange-d2 mr-1"></i>
                                                                </button>

                                                                <button onclick="deleteItem('@i','@ii','@j')" type="button"
                                                                        style="width:30px;display:@(((j == Model.Billings[ii].Shippings[i].ApartmentList.Count() - 1)&&(Model.Billings[ii].Shippings[i].ApartmentList.Count() > 1))? "''" :"none")"
                                                                        class="btnDeleteApartment btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-2 mb-1">
                                                                    <i class="fa fa-trash text-110 text-orange-d2 mr-1"></i>
                                                                </button>


                                                            </div>


                                                        </div>
                                                        <hr class="border-dashed" />
                                                    </div>


                                                }

                                                <div class="form-group row">
                                                    <div class="col-lg-3 offset-9">
                                                        <button onclick="addShipping('@ii','@i')" type="button"
                                                                style="display:@(i == Model.Billings[ii].Shippings.Count() - 1? "''" :"none")"
                                                                class="@(ii)btnAddShipping btn btn-outline-light btn-h-light-orange btn-a-light-orange border-b-2 text-600 px-3 mb-1">
                                                            Add More Shipping Address
                                                            <i class="fa fa-plus text-110 text-orange-d2 mr-1"></i>
                                                        </button>
                                                    </div>
                                                </div>




                                            }
                                        </div>
                                    </div>

                                </div>
                                <hr />
                            }
                        </div><!-- /.card-body -->


                    </div>




                </div>

                <div class="card bcard mt-2" id="contactPanel" draggable="false">
                    <div class="card-header">
                        <h5 class="card-title text-110 text-primary-d2 pt-1">
                            Contact detail
                        </h5>

                        <div class="card-toolbar no-border">
                            <a href="#" data-action="toggle" class="card-toolbar-btn btn btn-sm radius-1 btn-outline-default btn-h-outline-default px-15 mx-0 btn-tp" draggable="false">
                                <i class="fa fa-chevron-down w-2 mx-1px"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-white p-2 collapse hide" style="">
                        @for (int i = 0; i < Model.Contacts.Count(); i++)
                        {
                            @Html.HiddenFor(h => h.Contacts[i].CustmoerContactId)

                            <div class="form-group row mt-2">

                                <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-1" class="mb-0">
                                        First Name
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.Contacts[i].FirstName,
                                    new { @placeholder = "First Name", @class = "form-control" })
                                    <span asp-validation-for="Contacts[i].FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-1" class="mb-0">
                                        Middle
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.Contacts[i].MiddleName,
                                       new { @placeholder = "Middle Name", @class = "form-control" })
                                    <span asp-validation-for="Contacts[i].MiddleName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-1" class="mb-0">
                                        Last
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.Contacts[i].LastName,
                                      new { @placeholder = "Last Name", @class = "form-control" })
                                    <span asp-validation-for="Contacts[i].MiddleName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-1" class="mb-0">
                                        Phone
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.Contacts[i].Phone,
                                      new { @placeholder = "Phone", @class = "form-control" })
                                    <span asp-validation-for="Contacts[i].Phone" class="text-danger"></span>
                                </div>

                                <div class="col-sm-1 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-1" class="mb-0">
                                        Email
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.Contacts[i].Email,
                                      new { @placeholder = "Email", @class = "form-control" })
                                    <span asp-validation-for="Contacts[i].Email" class="text-danger"></span>
                                </div>

                            </div>

                            <hr />
                        }
                    </div>

                </div>











                <div class="mt-5 border-t-1 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-3 col-md-9 text-nowrap">
                        <button class="btn btn-info btn-bold px-4" type="submit">
                            <i class="fa fa-check mr-1"></i>
                            Submit
                        </button>

                        <a href="~/Customer/List" class="btn btn-outline-lightgrey btn-bold ml-2 px-4" type="reset">
                            <i class="fa fa-undo mr-1"></i>
                            Cancel
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>




@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/tiny-date-picker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/date-range-picker.css" />
    </environment>
    <style>
        hr {
            /*margin-bottom: 2rem !important;*/
        }
    </style>
}

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development,Staging,Production">
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-datepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/date-range-picker.js"></script>
        <script src="~/lib/inputmask/jquery.inputmask.js"></script>
        <script src="~/pages/form-basic/@@page-script.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {

            var checkShipid = '@Model.ShipId';
            if (checkShipid!='0') {
                 window.scroll(0, 630);
            }



        $("#Contacts_0__Phone").inputmask("(999) 999-9999")
            $("#Zip1").inputmask("99999")
            $("#Zip2").inputmask("99999")
            $("#Shippings_0__Phone").inputmask("(999) 999-9999");
        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
            setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/Customer/List"; }, 750);
        }
        if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
        }

        });

        function addContacts() {

            var index = $(".btnAddContact").length;

            $.ajax({
                url: "/Customer/GetCustomerContact/"+index,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#contactPanel").append(response);
                    $(".btnAddContact").each(function (ind, ele) {
                        if (ind !=index) {
                            $(ele).hide();
                        }
                    })
                    //Phone
                }
            })
        }

        function addShipping(parentIndex,cIndex) {
            var index = Number(cIndex) + 1;// $("."+parentIndex+"btnAddShipping").length;
              var data =  index+"_"+parentIndex;
            $.ajax({
                url: "/Customer/GetCustomerShipping/"+data,
                type: "POST",
                 contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                $("#" + parentIndex + "shippingPanel").append(response);

                $("."+parentIndex+"btnAddShipping").each(function (ind, ele) {
                        if (ind != index) {
                            $(ele).hide();
                        }
                    });
                $("#"+parentIndex+"shippingPanel .form-control").each(function (ind, ele) {
                        if ($(ele).attr('name1')) {
                            $(ele).attr('name', $(ele).attr('name1'));
                        }

                    })
                }
            })
        }

        function deleteItem(i,mainParent,index) {
            debugger;

            $(event.currentTarget).parent().parent().remove()
            index = index - 1;

            $("#billing_" + mainParent + "_apartmentPanel_" + i + " .btnAddApartment").each(function (ind, ele) {
                        if (ind != index) {
                            $(ele).hide();
                }
                        else {
                            $(ele).show();
                        }

            });

            $("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnDeleteApartment").each(function (ind, ele) {
                if ($("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnDeleteApartment").length>0) {
                    if ((ind) < ($("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnDeleteApartment").length-1)) {
                            $(ele).hide();
                    }
                    else {
                        if (ind!=0) {
                             $(ele).show();
                        }
                        
                    }
                }


            });




        }

           function addShippingApartment(i,mainParent) {
               debugger;
               var index = $("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnAddApartment").length;
              var data = i+"_"+index+"_"+mainParent;
            $.ajax({
                url: "/Customer/GetCustomerShippingApartment/"+data,
                data: data,
                type: "POST",
                 contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                $("#billing_"+mainParent+"_apartmentPanel_"+i).append(response);
                $("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnAddApartment").each(function (ind, ele) {
                        if (ind != index) {
                            $(ele).hide();
                    }
                     $("#billing_"+mainParent+"_Shippings_" + ind + "__Phone").inputmask("(999) 999-9999");
                });

                $("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnDeleteApartment").each(function (ind, ele) {
                if ($("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnDeleteApartment").length>0) {
                    if ((ind) < ($("#billing_"+mainParent+"_apartmentPanel_"+i+" .btnDeleteApartment").length-1)) {
                            $(ele).hide();
                    }
                }


            });


                $("#billing_"+mainParent+"_apartmentPanel_"+i+" .form-control").each(function (ind, ele) {
                        if ($(ele).attr('name1')) {
                            $(ele).attr('name', $(ele).attr('name1'));
                        }

                    })
                }
            })
        }

             $("#CompanyName").on("change", function () {
            if ($("#CompanyName").val()) {
                $("#CompanyType").val("Business");
                $("#CompanyType").attr("readonly","readonly");
            }
            else {
                   $("#CompanyType").removeAttr("readonly");
            }
        });

    </script>
}